{{#link-to 'match' this.id tagName='div' class='row match match-rsvp'}}
  <div class="col-xs-6 text-center">
    <button class="btn btn-success btn-mini">Jövök</button>
  </div>
  <div class="col-xs-6 text-center">
    <button class="btn btn-danger">Nem Jövök</button>
  </div>
{{/link-to}}