{{#link-to 'match' this.id tagName='div' class='row match match-result'}}
  <div class="col-xs-3 text-right team white">Fehér</div>
  <div class="col-md-offset-2 col-xs-1 score white">{{aScore}}</div>
  <div class="col-xs-1 score black">{{bScore}}</div>
  <div class="col-md-offset-2 col-xs-3 team black">Fekete</div>
{{/link-to}}