<div id="footer">
		<div>
			<div style="display: inline-block; vertical-align: top; padding-top: 7px;">
    		<img style="height: 40px;" src="/images/Precisionball.jpg" />
			</div>

    	<div class="logo">
        <span class="name">KFCFloorball</span><br />
    	</div>
		</div>
</div>
