<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      {{#link-to 'matches' class='navbar-brand'}}Floorball{{/link-to}}
      {{#link-to 'users' class='navbar-brand'}}Felhaszn치l칩k{{/link-to}}
      {{#link-to 'statistics' class='navbar-brand'}}Statisztik치k{{/link-to}}
      {{#link-to 'users.new' class='navbar-brand'}}Regisztr치lok{{/link-to}}
      <div class="nav-collapse collapse in" id="nav-collapse-01">
      </div>
    </div>
  </div>
</div>

<div class="container">
    {{outlet}}
</div>
