<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
      <a href="#" class="navbar-brand">Floorball</a>

      <div class="nav-collapse collapse in" id="nav-collapse-01">
      </div>
    </div>
  </div>
</div>

<div class="container">
    {{outlet}}
    <ul id="match-list">
      <li>
        <div class="row">
          <div class="col-md-2 date text-right">2013. szept. 6.</div>
          <div class="col-md-10 result">
            <div class="row">
              <div class="col-md-3 text-right team black">Fekete</div>
              <div class="col-md-offset-2 col-md-1 score black">5</div>
              <div class="col-md-1 score">3</div>
              <div class="col-md-offset-2 col-md-3 team">Fehér</div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 date text-right">2013. szept. 6.</div>
          <div class="col-md-10 result">
            <div class="row">
              <div class="col-md-3 text-right team black">Fekete</div>
              <div class="col-md-offset-2 col-md-1 score black">5</div>
              <div class="col-md-1 score">3</div>
              <div class="col-md-offset-2 col-md-3 team">Fehér</div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 date text-right">2013. szept. 6.</div>
          <div class="col-md-10 result">
            <div class="row">
              <div class="col-md-3 text-right team black">Fekete</div>
              <div class="col-md-offset-2 col-md-1 score black">5</div>
              <div class="col-md-1 score">3</div>
              <div class="col-md-offset-2 col-md-3 team">Fehér</div>
            </div>
          </div>
        </div>
      </li>

      <li>
        <div class="row">
          <div class="col-md-2 date text-right">2013. szept. 6.</div>
          <div class="col-md-10 result">
            <div class="row">
              <div class="col-md-3 text-right team black">Fekete</div>
              <div class="col-md-offset-2 col-md-1 score black">5</div>
              <div class="col-md-1 score">3</div>
              <div class="col-md-offset-2 col-md-3 team">Fehér</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
