<div class="row">
  <div class="col-md-4 col-md-offset-4">

    {{#if errorMessage}}
      <div class="alert-danger alert">
        {{errorMessage}}
      </div>
    {{/if}}

    <form role="form" {{action "login" on="submit"}}>
      <div class="form-group">
        <label for="formEmail">Email cím</label>
        {{input type='text' class="form-control" value=email id='formEmail' placeholder='Login név'}}
      </div>
      <div class="form-group">
        <label for="formPassword">Jelszó</label>
        {{input type="password" class="form-control" value=password id="formPassword"}}
      </div>
      <button class='btn'>Submit</button>
    </form>
  </div>
</div>
