/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require 'flat-ui'
 *= require_self
 */

$clouds: #ECF0F1;
$abestos: #7F8C8D;
$turquoise: #1ABC9C;
$ASBESTOS: #7F8C8D;
$green-sea: #16A085;
$silver: #BDC3C7;
$peter: #3498DB;
$emerald: #2ECC71;
$pumpkin: #D35400;
$sunflower: #F1C40F;
$wet: #34495E;
$carrot: #E67E22;
$orange: #F39C12;
$alazirin: #E74C3C;

body {
  background-color: white;
}

ul {
  margin: 0;
  padding: 0;
}

.match {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  border-radius: 6px;
}

.match-rsvp {
  background-color: $wet;
  color: white;

  .title {
    font-size: 24px;
    font-weight: bold
  }
}

.match-rsvp.is-current-user-ok {
  background-color: $emerald;
}

.match-rsvp.is-current-user-nok {
  background-color: $alazirin;
}

.match-result {
  background-color: $orange;

  .score {
    font-size: 24px;
    font-weight: bold
  }

  .black {
    color: black;
  }

  .team {
    font-size: 24px;
    font-weight: bold;
  }
}

.match-detail {
  background-color: $clouds;
  color: $abestos;
  padding: 20px;
  border-radius: 5px;
}

.match-date {
  color: $ASBESTOS;
  padding: 20px;
}

.white {
  color: white;
}

.black {
  color: black;
}

.teams {
  font-size: 16px;
  ul {
    list-style-type: none;
    margin: 0;
  }
  li {
    padding: 3px;
  }
}